@font-face {
  font-family: 'Vintage Glamour';
  src: url(https://user.lpcontent.net/fonts/s3up8UPm7p8g7A3zTrakGY/2DfbrrZaCpQ76khKiEH4S7/DdrVLkm7mELk24mTc6Esgg.woff2?time=1724421610) format('woff2'),
       url(https://user.lpcontent.net/fonts/s3up8UPm7p8g7A3zTrakGY/2DfbrrZaCpQ76khKiEH4S7/DdrVLkm7mELk24mTc6Esgg.woff?time=1724421610) format('woff');
  font-weight: 400;
  font-style: regular;
}

