@font-face {
  font-family: 'Better Authentic';
  src: url(https://user.lpcontent.net/fonts/s3up8UPm7p8g7A3zTrakGY/EQWv3zKAZLgkE8EUPJsT3B/82rdkbur3Uuvw58pXJk3Q6.woff2?time=1724423204) format('woff2'),
       url(https://user.lpcontent.net/fonts/s3up8UPm7p8g7A3zTrakGY/EQWv3zKAZLgkE8EUPJsT3B/82rdkbur3Uuvw58pXJk3Q6.woff?time=1724423204) format('woff');
  font-weight: 400;
  font-style: regular;
}

