@font-face {
  font-family: 'antique book cover';
  src: url(https://user.lpcontent.net/fonts/s3up8UPm7p8g7A3zTrakGY/GKfbqJKjMSbB9BgmkZvRy9/uP9D6XTewWC7FVD8JJcJu2.woff2?time=1724322133) format('woff2'),
       url(https://user.lpcontent.net/fonts/s3up8UPm7p8g7A3zTrakGY/GKfbqJKjMSbB9BgmkZvRy9/uP9D6XTewWC7FVD8JJcJu2.woff?time=1724322133) format('woff');
  font-weight: 400;
  font-style: regular;
}

