@font-face {
  font-family: 'Te Quirtez';
  src: url(https://user.lpcontent.net/fonts/s3up8UPm7p8g7A3zTrakGY/JWgh93WR223dWkcwxdCxge/9cfTBHgwLhmKcAHX4JqGzL.woff2?time=1724422814) format('woff2'),
       url(https://user.lpcontent.net/fonts/s3up8UPm7p8g7A3zTrakGY/JWgh93WR223dWkcwxdCxge/9cfTBHgwLhmKcAHX4JqGzL.woff?time=1724422814) format('woff');
  font-weight: 400;
  font-style: regular;
}

